    *{
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Work Sans', sans-serif;
        margin: 0 ;
        padding: 0;  
       
    
        

    }
    /* start header section  Style */
   .banner{
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    margin: 0;
    width: 1600px;
    height: 808px;
   }
    .banner-content{
        padding: 180px 960px;
        
    }.banner-title{
        color: white;
        font-size: 65px;
        line-height: 75px;
        width: 507px;
        font-weight: 700;
        text-align: justify;
       
        
    }.banner-description{
        line-height: 26px;
        color: rgba(253, 252, 252, 0.846);
        font-weight: 400;
        font-size: 20px;
        text-align: justify;
        width: 480px;
        height: 78px;
        margin-bottom: 10px;
        

    }.banner-btn{
        background-color: rgb(255, 254, 254);
        color: rgb(0, 76, 255);
        width: 200px;
        height: 90px;
        top: 800px;
        left: 1240px;
        font-weight: 600;
        font-size: 30px;
        border: 0;
        border-radius: 5px;
        margin-top: 35px;
        padding: 10px 10px;
        
    }
       /* end header section  Style */

       /* Start main section style */
          /* main section 1 */
       .My-failures{
        display: flex;
        gap: 150px;
        align-items: center;
        width: 1172px;
        height: 725px;
        padding-top: 80px;
        padding-left: 208px;
     

       }.My-failures-content{
        
       }.My-failures-title{
        font-size: 65px;
        font-weight: 700;
        width: auto;
        line-height: 80px;
        padding-bottom: 10%;
       }.My-failures-description{
        font-size: 25px;
        padding-bottom: 15px;
        line-height: 37px;
        font-weight: 400;
       }.My-failures-content ul li {
        list-style: url('images/check-mark.png') inside none;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        
       } 
       /* main section 2 */
      .plan-title{
        text-align: center;
        width: 1600px;
        height: auto;
        font-size: 60px;
        padding: 5% 0;
      }.my-plan-options{
        display: flex;
        justify-content: space-between;
        width: 1600px;
        height: auto;
        padding-left: 1.5%;
        
        
        

        
      }.my-plan-option{
        width: 300px;
        height: 350x;


       
        
        

      }.plan-img{
        padding-left: 32%;
      }
      .my-plan-option-title{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #151414;

      }.my-plan-option-description{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        padding-top: 20px;
        padding-left: 0;
        text-align: center;
        color: #726868;
      }
     
