    *{
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Work Sans', sans-serif;
        margin: 0 ;
        padding: 0;  
       
    
        

    }
    /* Start header section  Style */
   .banner{
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    margin: 0;
    width: 1600px;
    height: 808px;
   }
    .banner-content{
        padding: 180px 960px;
        
    }.banner-title{
        color: white;
        font-size: 65px;
        line-height: 75px;
        width: 507px;
        font-weight: 700;
        text-align: justify;
       
        
    }.banner-description{
        line-height: 26px;
        color: rgba(253, 252, 252, 0.846);
        font-weight: 400;
        font-size: 20px;
        text-align: justify;
        width: 480px;
        height: 78px;
        margin-bottom: 10px;
        

    }.btn{
        background-color: rgb(255, 254, 254);
        color: rgb(0, 76, 255);
        width: 200px;
        height: 90px;
        top: 800px;
        left: 1240px;
        font-weight: 600;
        font-size: 30px;
        border: 0;
        border-radius: 5px;
        margin-top: 25px;
        padding: 10px 10px;
        
    }
       /* End header section  Style */

       /* Start main section style */
          /* main section Style 1 */
       .My-failures{
        display: flex;
        gap: 150px;
        align-items: center;
        width: 1172px;
        height: 725px;
        padding-top: 80px;
        padding-left: 208px;
     

       }.My-failures-content{
        
       }.My-failures-title{
        font-size: 65px;
        font-weight: 700;
        width: auto;
        line-height: 80px;
        padding-bottom: 10%;
       }.My-failures-description{
        font-size: 25px;
        padding-bottom: 15px;
        line-height: 37px;
        font-weight: 400;
       }.My-failures-content ul li {
        list-style: url('images/check-mark.png') inside none;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        
       } 
         /* main section Style 2 */
      .plan-title{
        text-align: center;
        width: 1600px;
        height: auto;
        font-size: 60px;
        padding: 5% 0;
      }.my-plan-options{
        display: flex;
        justify-content: space-between;
        width: 1580px;
        height: auto;
        padding-left: 1.5%;
        
      }.my-plan-option{
        width: 300px;
        height: 350x;

      }.plan-img{
        padding-left: 32%;
        padding-bottom: 5%;
      }
      .my-plan-option-title{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #151414;

      }.my-plan-option-description{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        padding-top: 20px;
        padding-left: 0;
        text-align: center;
        color: #726868;
      }
        /* main section Style 3 */
     .gradient-container{
      background-image:linear-gradient(90deg ,#005fac 0% ,rgba(0, 95, 172, 0)100%), url('images/watch.png');
      border-radius: 8px;
      width: 1140px;
      height: 300px;
      margin-top: 10%;
      margin-left: 200px;
      

     }.gradient-content{
      padding: 40px;
      border: 0;


     }
     .gradient-content-title{
      color: white;
      width: 460px;
      height: 95px;
      left: 300px;
      font-size: 40px;
      line-height: 47px;

     }
    /* End Main Section Style */
    /* Start footer section Style*/
      /* footer section 1 style  */
      .footer-container{
        display: flex;
        justify-content: space-between;
        width: 1600px;
        height: 900px;
        margin-left: 0;
        margin-top: 200px;
        margin-bottom: 2000px;
        background-color: #151414;
        border: 0;


      }.footer-future{
        width: 490px;
        height: 300px;
        padding-left: 200px;
        color: azure;
        padding-top: 10%;

      }.future-title{
        font-size: 45px;
        font-weight: 700;
        line-height: 53px;
        padding-bottom: 16px;

      }.footer-future .future-description{
        padding-bottom: 24px;
        line-height: 26px;
        font-size: 18px;
        font-weight: 400;
        width: 485px;
        height: 78px;
      }.footer-future .future-contact{
        padding-top: 35px;
        font-size: 18px;
        font-weight: 400;
      }.future-icon{
        padding-top: 35px;
        
       
      }.footer-form{ 
        width: 325px;
        height: 206px;
        padding-left: 200px;
        color: #FFFFFF;
        padding-top: 10%;
        padding-right: 13%;
        
        
      }.form-title{
        font-size: 30px;
        font-weight: 700;
        line-height: 53px;
        padding-bottom: 3.89%;
      }input{
        text-transform:capitalize;
        width: 352px;
        height: 54px;
        border: 1px solid white;
        border-radius: 10px ;
        padding: 10px;
        font-size: 22.5px;
        font-weight: 400;
        line-height: 21px;
        color: #FFFFFF;
        background-color: #111111;
        
      } 

